body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #2c2c2c;
}

/* PAGINA DOS GRÁFICOS 2023 */


.container{
  display: flex;
  justify-content: space-between;
}

.content-game{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div_desempenho button{
  width: 100px;
  cursor: pointer;
}

#btn_reset{
  width: 150px;
  margin-left: 20px;
}

#btn_acerto:hover{
  width: 100px;
  background-color: #008000;
}

#btn_erro:hover{
  width: 100px;
  background-color: #f0000f;
}


#imagem_manobra{
  font-size: 40px;
  font-weight: bold;
  color: #ffff;
  text-align: center;
}

#mensagem_game{
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #ffff;
  align-self: center;
}

#mensagem_game span{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #ffff;
  align-self: center;
}

.content-game button{
  margin-top: 30px;
  background-color: #7e7e7e;
  border-radius: 15px;
  cursor: pointer;
}

.content-game button:hover{
  background-color: #0c0c1e;
  color: #ffff;
  transform: scale(1.1);
  transition: 1.0s;
}

.card-game{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 60%;
  background: #19192e;
  border-radius: 15px;
}

.imagem{
  width: 50%;
  height: 60%;
  margin-top: 30px;
}

.imagem img{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 15px;
}









.ativo{
  border-right: white;
  border-right-style: solid;
  width: 150px;
  transform: scale(1.1);
  transition: 1.0s;
  text-align: center;
  border-radius: 10px;
  background-color: #19192e;
}

.btn-dashpage:hover {
  width: 150px;
  transform: scale(1.1);
  transition: 1.0s;
  text-align: center;
  border-radius: 10px;
  background-color: #19192e;
}


.btn-gamepage:hover {
  width: 150px;
  transform: scale(1.1);
  transition: 1.0s;
  text-align: center;
  border-radius: 10px;
  background-color: #19192e;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #383A56;
  background-color: #383A56;
}

.btn-logout {
  width: 100px;
  border-radius: 10px;
  text-align: center;
  background: #68686b;
  cursor: pointer;
}

.btn-logout:hover{
  width: 150px;
  color: #ffff;
  transform: scale(1.1);
  transition: 1.0s;
  text-align: center;
  border-radius: 10px;
  background-color: #19192e;
}



 .content-dash{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-bottom: 5%;
  margin-left: 5%;
 }
#graficos{
  display: flex;
}

#myChartCanvas{
  width: 600px;
}