* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 100px;
  background: #2C2C2C;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: #383A56;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo img{
  width: 100px;
}

nav{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.login-button{
  background-color: #D9D9D9;
  padding: 8px 16px;
  border-radius: 20px;
  color: #000;
}

nav a:hover{
  opacity: 0.6;
  transform: scale(1.1);
  transition: 1.0s;
}

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  gap: 40px;
}

.hero-text h1{
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-img img{
  width: 700px;
  height: auto;
  border-radius: 7px;
}

#sobre{
  background: #2f2f2f;
  padding: 50px 60px;
  margin: 60px 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#sobre img{
  width: 550px;
  border-radius: 7px;
}


#texto-sobre h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

#texto-sobre p{
  font-size: 20px;
  line-height: 1.5;
  color: #D9D9D9;
  max-width: 600px;
  margin-bottom: 25px;
}

#manobras{
  background: #303132;
  padding: 50px 60px;
  margin: 60px 80px;
  border-radius: 10px;
}

#manobras{
  padding: 40px 80px;
}

#manobras h4{
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 30px;
}

#manobras h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

.manobras-container{
  display: flex;
  gap: 30px;
  padding-bottom: 15px;
}

.card-manobra{
  background-color: #23294d;
  min-width: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}

.card-manobra img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-manobra h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.card-manobra p{
  font-size: 20px;
  color: #D9D9D9;
  margin-bottom: 15px;
  line-height: 1.4;
}

#skatistas{
  background: #303132;
  padding: 50px 60px;
  margin: 60px 80px;
  border-radius: 10px;
}

#skatistas{
  padding: 40px 80px;
}

#skatistas h4{
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 30px;
}

#skatistas h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.skatistas-container{
  display: flex;
  gap: 30px;
  padding-bottom: 15px;
}

.card-skatista{
  background-color: #23294d;
  min-width: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}

.card-skatista img{
  width: 240px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-skatista h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.card-skatista p{
  font-size: 20px;
  color: #D9D9D9;
  margin-bottom: 15px;
  line-height: 1.4;
}

#footer{
  background: #23294d;
  padding: 40px 80px;
  margin-top: 60px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-left{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-left a{
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
}

.footer-left a:hover{
  opacity: 0.7;
}